# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.3'
        os:
          - ubuntu-latest
          - macOS-latest
        arch:
          - x64

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Setup brew macOS
        uses: Homebrew/actions/setup-homebrew@master
        if: matrix.os == 'macOS-latest'
      - name: Install dependencies macOS
        run: brew install openblas
        if: matrix.os == 'macOS-latest'
      - name: Before install linux
        run: sudo apt-get install gfortran liblapack3 liblapack-dev libopenblas-base libopenblas-dev
        if: matrix.os == 'ubuntu-latest'
      - uses: julia-actions/setup-julia@v1.6.0
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@v1.1.1
      - uses: julia-actions/julia-runtest@v1.5.1
      - name: Coveralls submit
        run: julia -e 'using Pkg; cd(Pkg.dir("NLPModelsAlgencan")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
